[net]
# Testing
# batch=1
# subdivisions=1
# Training
batch=64
subdivisions=1
width=200
height=110
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.8
exposure = 2.3
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 30000
policy=steps
#steps=400000,450000
#scales=.1,.1
steps=5000,10000,15000,20000,25000
scales=0.2,0.2,0.1,.1,.1



[convolutional]
batch_normalize=1
filters=16
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

########

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[yolo]
mask = 0,1
anchors = 3,3 5,5 7,7 12,12 21,21
classes=3
num=5
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

########

[route]
layers = -2

[convolutional]
batch_normalize=1
filters=24
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky


###########

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

[yolo]
mask = 2,3,4
anchors = 3,3 5,5 7,7 12,12 21,21
classes=3
num=5
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
